.root{
    display: flex;
    width:100%;
    flex-direction: column;
    box-sizing: border-box;
}

.feedList,.container{
    display: flex;
    width: 100%;
    columns: 3;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
}

.feedList{
    max-height: 500px;
    overflow: auto;
    /* background-color: rgba(255,255,255,1); */
    left: 0;
}
.feedList > h3{
    color :red;
}
.recFeedList{
    height: 300px;
    overflow: auto;
    left: 0;
}


.unitCard{
    display: flex;
    flex-direction: column;
    color: black;
    width: 250px;
    height: 100px;
    background-color: rgba(255,255,255,1);
    box-shadow: 1px 1px 0px black;
    transition: 0.2s ease;
    transition-delay: 0.2s;
    cursor: pointer;
}

.unitCard > div{
    flex: 1;
    overflow-wrap: break-word;
    text-overflow: clip;
}

.unitCard:hover{
    color: white;
    background-color: tomato;
    
    /* margin: 20px 0px; */
}
.unitCard:active{
    color: black;
    background-color: rgba(255,255,255,0.3);
}


.feedContainer{
    display: flex;
    /* border: 1px solid red; */
}